@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>AspNet core MVC App running in docker container deployed to Kubernetes cluster in Azure Cloud.</p>
</div>
